@import url("reset.css");

@charset "utf-8";
/* CSS Document */

#clear {clear:both; }
body{
	background-color: transparent;
    background-repeat: repeat, no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    background-size: auto, cover;
	color: #000;
	font:normal 14px/18px Verdana, "微軟正黑體", sans-serif;
}

/*====== HEADER ======*/
#header{width:100%; background:rgba(0,0,0,0.7); font:normal 30px Verdana, "微軟正黑體", sans-serif; color:#fff; z-index: 9999; position:absolute; padding:15px 0px; top:0px; overflow:hidden; text-align:center;}


/*====== CONTAINER ======*/
#container{width:900px; overflow:hidden; margin:100px auto 50px auto;}
.contenttext{min-height:400px; padding:20px; background:rgba(255,255,255,0.6); overflow:hidden; border-radius:20px; text-align:center;}
.contenttext .title{font:normal 30px/40px Verdana, "微軟正黑體", sans-serif; color:#de3e47; border-bottom:1px #000 dashed; margin-bottom:20px;}
.scroll-pane{font:normal 25px/50px Verdana, "微軟正黑體", sans-serif;}
.scroll-pane span{font:normal 30px/50px Verdana, "微軟正黑體", sans-serif; color:#2a2f3e;}
.scroll-pane a{color:#2a2f3e;}
.scroll-pane a:hover{color:#de3e47;}
				
/* NEWS */
.grid {}
.grid a{width:205px; float:left;}
.grid figure {height:410px; background:rgba(255,255,255,0.7); margin:5px; position:relative; overflow:hidden;}
.grid figure img {width:175px; height:175px; margin:205px 10px 10px 10px; position: relative; display: block;}
.grid figcaption {width:175px; height:100%; position:absolute; top:0; padding:20px 10px; z-index: 11; text-align: center;}
.grid figcaption .newslist li.calendar {width:46px; height:46px; padding-top:12px; font:normal 10px/10px Verdana, "微軟正黑體", sans-serif; color:#fff; margin:0px auto 10px; background:url(../images/calendar.png) no-repeat center;}
.grid figcaption .newslist li.calendar .date{font:normal 20px/20px Verdana, "微軟正黑體", sans-serif;}
.grid figcaption .newslist li.linetop {border-bottom:10px #fff solid; opacity:0.5;}
.grid figcaption .newslist li.title {font:normal 18px/18px Verdana, "微軟正黑體", sans-serif; color:#fff; margin:15px 0px;
	-webkit-transition: -webkit-transform 0.3s;transition: transform 0.3s;}
.grid figcaption .newslist li.text {font:normal 13px/15px Verdana, "微軟正黑體", sans-serif; color:#fff; margin:15px 0px;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;}
.grid figcaption .newslist li.linebottom {border-bottom:1px #fff solid;}
.grid figcaption .newslist li.calendar, .grid figcaption .newslist li.linetop, .grid figcaption .newslist li.title, .grid figcaption .newslist li.text, .grid figcaption .newslist li.linebottom,{-webkit-transform: translateY(50px);transform: translateY(50px);}
.grid figcaption, .grid figcaption .newslist li.calendar, .grid figcaption .newslist li.linetop, .grid figcaption .newslist li.title, .grid figcaption .newslist li.text, .grid figcaption .newslist li.linebottom,{-webkit-backface-visibility: hidden;backface-visibility: hidden;}
/* Style for SVG */
.grid svg {width:100%; height:100%; position:absolute; top:-1px; /* fixes rendering issue in FF */ z-index:10;}
.grid svg path {fill:rgba(126,0,8,0.8);}
/* Hover effects */
.grid a:hover figure img {opacity: 1;}
 .grid a:hover figcaption .newslist li.calendar, .grid a:hover figcaption .newslist li.linetop, .grid a:hover figcaption .newslist li.title, .grid a:hover figcaption .newslist li.text, .grid a:hover figcaption .newslist li.linebottom{-webkit-transform: translateY(0);transform: translateY(0);}
.grid a:hover figcaption .newslist li.linetop, .grid a:hover figcaption .newslist li.linebottom{opacity: 0;}
.back{width:100%; padding:6px 0px; background:rgba(126,0,8,0.8); color:#FFF; cursor:pointer; border:none; margin-top:10px;}
.back a{width:100%; height:100%; display:block; color:inherit;}
.back:hover{background:rgba(126,0,8,1);
-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;}
/* PRODUCT */
.da-thumbs {position: relative;}
.da-thumbs li {float: left;;position: relative;}
.da-thumbs li a, .da-thumbs li a img {display: block;position: relative;width:200px;height:200px;}
.da-thumbs li a {overflow: hidden;}
.da-thumbs li a div {position: absolute;background: rgba(225,225,50,0.7);width: 100%;height: 100%; border-radius:20px;}
.da-thumbs li a div span {display: block;padding: 10px 0;margin: 40px 20px 20px 20px;text-transform: uppercase;font-size:80px; line-height:100px; color: rgba(0,0,0,0.9);text-shadow: 1px 1px 1px rgba(0,0,0,0.2);}
.da-thumbs li a div {top: 0px;left: -100%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;}
.da-thumbs li a:hover div{left: 0px;}

/*====== FOOTER ======*/
#footer{height:25px; text-align:center; width:100%;background:rgba(0,0,0,0.7); font:normal 14px/25px Verdana, "微軟正黑體", sans-serif; color:#fff; z-index: 9999; position:absolute; bottom:0px;}
